* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "Oswald", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Header */

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

header {
  background: hsl(100 30% 15%);
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;

  z-index: 1000;
}

h1 {
  letter-spacing: 1px;
  font-size: 1.6rem;
  font-weight: bold;
}

.nav-title-container {
  color: white;
  z-index: 1000;
  cursor: pointer;
}

.nav-title-container span {
  color: hsl(30 80% 55%);
}

/* mobile menu */

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5em;
  color: hsl(0 100% 100%/0.75);
  position: absolute;
  right: 0px;
  top: 40px;
  background: hsl(100 30% 15%);
  height: 100vh;
  width: 60%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
}

ul > li {
  list-style: none;
  cursor: pointer;
  letter-spacing: 0.5px;
  font-size: 1.2rem;
  opacity: 0;
}

li:hover {
  color: hsl(30 80% 55%);
}

.burger-menu {
  cursor: pointer;
  transform: translateX(0%);
  transition: transform 0.9s ease-out;
}

.burger-menu div {
  background-color: hsl(0 100% 100%);
  height: 2px;
  width: 18px;
  margin: 4.5px;
  transition: all 0.3s ease;
  pointer-events: none;
}

.active {
  transform: translateX(0%);
}

@keyframes listLinkFade {
  from {
    opacity: 0;
    transform: translate(50px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

a:link {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

/* main */
.card {
  width: 88%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  box-shadow: 5px 5px 5px hsl(100 30% 10% / 0.25);
  border-radius: 20px;
}

.hidden {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1.125s ease;
}

.show {
  opacity: 1;
  transform: translateX(0);
}

.profile-image {
  border-radius: 50%;
  border: 4px solid hsl(30 80% 55%);
  width: 140px;
  height: 140px;
  object-fit: cover;
  display: flex;
}

.profile-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1.4em 1em;
}

.profile-name {
  color: hsl(30 80% 55%);
  font-size: 1.65rem;
}

.profile-name::after {
  content: "";
  display: block;
  justify-content: center;
  height: 1px;
  width: 3em;
  background: hsl(100 30% 15%/0.85);
  margin: 0.7em auto 0.5em;
}

.profile-body {
  text-align: center;
}

/* Icons */
.links-section {
  color: hsl(30 80% 55%);
  display: flex;
  flex-direction: column;
  gap: 1.6em;
}

.icons-container {
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
  align-items: center;
}

.icons-container i {
  color: hsl(30 80% 55%);
}

/* Footer */
footer {
  color: white;
  background: hsl(100 30% 15%);
  padding: 8px;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
}

footer p {
  text-align: center;
  margin: 0 auto;
  font-size: 1.125rem;
}

.footer-icons-container {
  display: flex;
  gap: 10px;
  position: absolute;
  right: 0;
  padding-right: 16px;
  color: white;
  font-size: 1.5rem;
}

footer i {
  cursor: pointer;
}

@media (min-width: 600px) {
  .card {
    display: grid;
    grid-template-columns: 30% 1fr;
    width: 60%;
  }
  ul {
    display: flex;
    flex-direction: row;
    position: static;
    background: none;
    gap: 1em;
    justify-content: flex-end;
    transform: translateX(0%);
    height: 100%;
  }

  ul > li {
    opacity: 1;
  }

  .burger-menu {
    display: none;
  }
  .profile-sidebar {
    min-width: 120%;
    height: 100%;
  }

  .profile-image {
    border-radius: 0px;
    border: none;
    object-fit: cover;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 8px 0px 0px 8px;
  }
}

@media (min-width: 900px) {
  .card {
    width: 50%;
  }
}
