* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "Oswald", sans-serif;
}

header {
  background: hsl(100 30% 15%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 8px;
  /* border: 2px solid white; */
}

h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2.2rem;
  font-weight: bold;
}

i {
  color: white;
  font-size: 1.5rem;
}

.nav-title-container {
  color: white;
}

.nav-title-container span {
  color: hsl(30 80% 55%);
}

.main-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.main-content {
  text-align: center;
  height: 100%;
  margin-top: 16%;
}

.main-content h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2.5rem;
  font-weight: bold;
}

.main-content p {
  font-size: 2rem;
  font-weight: 300;
  color: hsl(100 30% 15%);
}

.main-content h2 span {
  color: hsl(30 80% 55%);
}

.description {
  text-shadow: 1px 1px 1px white;
}

.main-title-container {
  padding-top: 15px;
}

.icons-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 2em;
  min-height: 50%;
}

.icons-container i {
  color: hsl(30 80% 55%);
  font-size: 3rem;
}

.btns-container {
  display: flex;
  gap: 8px;
}

button {
  background: hsl(30 80% 55%);
  padding: 12px 26px;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
}

/* Integrantes */
.integrantes {
  min-height: 100%;
  margin-top: 6%;
  padding: 0.8em;
}

.title-container-integrantes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.integrantes h2 {
  font-size: 2.1rem;
  font-weight: bold;
  color: hsl(30 80% 55%);
}

.title-container-integrantes p {
  font-size: 1.6rem;
  font-weight: 400;
  color: hsl(100 30% 15%);
}

.img-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  min-height: 100%;
  width: 100%;
  margin-top: 8%;
}

.img-text {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
  text-align: center;
  width: 100%;
}

.img-text h3 {
  color: white;
  font-size: 2.1rem;
  text-shadow: 4px 4px 4px hsl(100 30% 15%);
}

.img-text p {
  color: hsl(30 80% 55%);
  font-size: 1.2rem;
  text-shadow: 4px 4px 4px hsl(100 30% 15%);
}

.integrante-container {
  width: 80%;
  margin: 0 auto;
  border-radius: 15px;
  z-index: -1;
  position: relative;
}
.integrante-container img {
  object-fit: cover;
  width: 100%;
  height: 640px;
  border-radius: 15px;
}

/* Biografía */
.bio-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.8em;
  padding: 0.8em;
  text-align: center;
}

.bio-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

.bio-text-container h2 {
  color: hsl(30 80% 55%);
  font-size: 1.8rem;
}

.bio-text-container p {
  color: hsl(100 30% 15%);
  font-size: 1.25rem;
}

.bio-img-container {
  padding: 8px;
}

.bio-img-container img {
  width: 100%;
  object-fit: contain;
  border-radius: 6px;
}

/* Footer */
footer {
  color: white;
  background: hsl(100 30% 15%);
  padding: 18px;
  bottom: 0;
  width: 100%;
  display: flex;
  position: fixed;
}

footer p {
  text-align: center;
  margin: 0 auto;
  font-size: 1.125rem;
}

.footer-icons-container {
  display: flex;
  gap: 10px;
  position: absolute;
  right: 0;
  padding-right: 16px;
}
