* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "Oswald", sans-serif;
}

header {
  background: hsl(100 30% 15%);
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 8px;
  z-index: 1;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.6rem;
  font-weight: bold;
}

i {
  color: white;
  font-size: 1.2rem;
}

.nav-title-container {
  color: white;
}

.nav-title-container span {
  color: hsl(30 80% 55%);
}

.main-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.main-content {
  text-align: center;
  height: 100%;
  padding-top: 60px;
  background: hsl(0 0% 100% / 0.38);
}

.main-content h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2.5rem;
  font-weight: bold;
}

.main-content p {
  font-size: 2rem;
  font-weight: 400;
  color: hsl(100 30% 10%);
}

.main-content h2 span {
  color: hsl(30 80% 55%);
}

/* .description {
} */

.main-title-container {
  padding-top: 5%;
  /* background: hsl(0 0% 100% / 0.2); */
}

.icons-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 2em;
  height: 55%;
}

.icons-container i {
  color: hsl(30 80% 55%);
  font-size: 3rem;
}

.btns-container {
  display: flex;
  gap: 8px;
}

.btns-container button {
  background: hsl(30 80% 55%);
  padding: 12px 26px;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
}

/* Integrantes */
.integrantes {
  min-height: 100%;
}

.title-container-integrantes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.integrantes h2 {
  font-size: 2.1rem;
  font-weight: bold;
  color: hsl(30 80% 55%);
}

.title-container-integrantes p {
  font-size: 1.6rem;
  font-weight: 400;
  color: hsl(100 30% 15%);
}

.img-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  min-height: 100%;
  width: 100%;
  margin-top: 8%;
}

.img-text {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
  text-align: center;
  width: 100%;
}

.img-text h3 {
  color: white;
  font-size: 2.1rem;
  text-shadow: 4px 4px 4px hsl(100 30% 15%);
}

.img-text p {
  color: hsl(30 80% 55%);
  font-size: 1.2rem;
  text-shadow: 4px 4px 4px hsl(100 30% 15%);
}

.integrante-container {
  width: 80%;
  margin: 0 auto;
  border-radius: 15px;
  z-index: -1;
  position: relative;
}
.integrante-container img {
  object-fit: cover;
  width: 100%;
  height: 640px;
  border-radius: 15px;
}

/* Biografía */
.bio-container {
  min-height: 100%;
  gap: 0.8em;
  padding: 0.8em;
  text-align: center;
}

.bio-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

.bio-text-container h2 {
  color: hsl(30 80% 55%);
  font-size: 1.8rem;
}

.bio-text-container p {
  color: hsl(100 30% 15%);
  font-size: 1.25rem;
}

.bio-img-container {
  padding: 8px;
}

.bio-img-container img {
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
}

/* Contacto */

.contacto {
  padding-bottom: 100px;
}

.form {
  width: 90%;
  border-radius: 20px;
  box-shadow: 5px 5px 5px hsl(100 30% 10% / 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2em;
  margin: 0 auto;
  gap: 0.8em;
}

.form-title {
  display: flex;
  align-items: center;
  color: hsl(30 80% 55%);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 2em;
  letter-spacing: 1px;
  margin-top: 10%;
}

.input-container {
  margin-top: 4em;
  width: 80%;
  position: relative;
  height: 60px;
  overflow: hidden;
}

.message-container {
  margin-top: 4em;
  width: 80%;
  height: 180px;
  /* overflow: hidden; */
}

.input-container input {
  width: 80%;
  height: 100%;
  font-size: 1.2rem;
  padding-bottom: 0.7em;
  color: hsl(100 30% 15%);
  border: none;
  padding-top: 1.2em;
  outline: none;
}

.message-container textarea {
  width: 100%;
  height: 90%;
  font-size: 1.2rem;
  color: hsl(100 30% 15%);
  padding-top: 0.5em;
  padding-left: 0.4em;
}

.input-container label {
  position: absolute;
  font-size: 1.4rem;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  color: hsl(100 30% 15%);
  pointer-events: none;
  border-bottom: 1px solid hsl(100 30% 15%);
}

.message-container label {
  font-size: 1.4rem;
  width: 100%;
  height: 100%;
  color: hsl(100 30% 15%);
  pointer-events: none;
  /* border-bottom: 1px solid hsl(100 30% 15%); */
}

.input-container label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3.5px solid hsl(30 80% 55%);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.span-text {
  position: absolute;
  bottom: 2px;
  left: 0px;
  transition: all 0.3s ease;
}

.input-container input:focus + .label-text .span-text,
.input-container input:valid + .label-text .span-text {
  transform: translateY(-145%);
  color: hsl(30 80% 55%);
  font-size: 1rem;
}

/* Contact button */

.submit-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  width: 100%;
}
.submit-btn {
  padding: 0.6em 35%;
  background-color: hsl(30 80% 55%);
  border-radius: 10px;
  border: none;
  outline: none;
  color: white;
  position: relative;
  letter-spacing: 1px;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  cursor: pointer;
}

.submit-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: hsl(30 100% 70%);
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.submit-btn:hover::before,
.submit-btn:focus::before {
  transform: scaleX(1);
}

.submit-btn {
  z-index: 1;
}

/* Footer */
footer {
  color: white;
  background: hsl(100 30% 15%);
  /* padding: 18px; */
  bottom: 0;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
}

footer p {
  text-align: center;
  margin: 0 auto;
  font-size: 1.125rem;
}

.footer-icons-container {
  display: flex;
  gap: 10px;
  position: absolute;
  right: 0;
  padding-right: 16px;
}

/* media queries */

@media (min-width: 600px) {
  .img-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8em;
  }
}

@media (min-width: 1000px) {
  .img-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.8em;
  }
}
